<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login Success</h2>
    <button>
        <a href="/users/logout">
            Logout
        </a>
    </button>
 
</body>
</html>