<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>E-commerce Site</h1>
  <a href="/users/register">Register</a> <br>
  <a href="/users/login">Login</a>
  </body>
</html>
