<% include partial/header %>
    <form action="/users/login" method="POST">
        <h2>Login form</h2>
        <% if(error){ %>
            <p>
                <%=error%>
            </p>
            <% } %>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
    </form>

    <style>
        p{
            color: red;
        }
    </style>